@import "styles";

.tile {
  background: $tileBackground;
  border-radius: 2px;
  border: 1px solid $tileBorder;
  line-height: 25px;
  margin-bottom: 10px;
  .cover {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    position: relative;
    .header-text {
      color: $tileTitleColor;
      position: absolute;
      bottom: 5px;
      left: 10px;
      margin-right: 10px;
      padding: 10px;
      border-radius: 5px;
      background: $tileTitleBackground;
    }
  }

  .info {
    padding: 15px;
    padding-top: 0;
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .sub-title {
      color: $tileSubTitleColor;
      font-weight: 600;
    }

    .lbs {
      color: $tileLbsColor;
      font-weight: 600;
    }

    .description {
      color: $tileDescriptionColor;
    }
  }
}

@media (min-width: 786px) {
  .tile-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    li {
      margin-bottom: 0;
    }
  }
}
