<ul class="tile-list">
  <li *ngFor="let item of data" class="tile">
    <div class="cover">
      <img [src]="'assets/img/'+item.image" [alt]="item.title">
      <h2 class="header-text">{{item.title}}</h2>
    </div>
    <div class="info">
      <p class="sub-title">
        {{item.subtitle}}
      </p>
      <p class="lbs">
        {{item.lbs}} lbs. offset
      </p>
      <p class="description">
        {{item.description}}
      </p>
    </div>
  </li>
</ul>