header {
  background: #c2f5aa;
  .header-text {
    font-size: 16px;
  } 
  margin-bottom: 15px;
  img {
    width: 100px;
    height:100px;
    margin-right: 15px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
  } 
  border-radius: 10px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.10);
}

@media(min-width:768px) {
  header {
    .header-text {
      font-size: 26px;
    }  
    img {
      width: 200px;
      height:200px;
    }
  }
}