<header>
  <div class="container flex items-center justify-between">
    <div class="logo">
      <img [src]="'assets/img/logo.png'" [alt]="'My Site'">
    </div>
    <div class="site-title">
      <h1 class="header-text text-center">Our environmental projects are providing many environmental benefits around
        the world.</h1>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <app-tile [data]="data | async"></app-tile>
  </div>
</main>
<footer>

</footer>