/* You can add global styles to this file, and also import other style files */
$bodyBackground: #eeeeee;
$tileBackground: #ffffff;
$tileBorder: #cccccc;
$tileTitleBackground: rgba(0, 0, 0, 0.59);
$tileTitleColor: #ffffff;
$tileSubTitleColor: #E91E63;
$tileLbsColor: #4CAF50;
$tileDescriptionColor: #000000;

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: $bodyBackground;
  padding: 15px;
}

body {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}
